body {
    margin: 0;
}

#bloc_page {
    min-width: 315px;
}

#logo {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 12px;
    z-index: 1;
    box-shadow: 0px 3px 3px $colour-border-shadow;
    @include tablet {
        box-shadow: none;
    }
    & img {
        width: 170px;
        min-width: 170px;
        @include tablet {
            width: 200px;
        }
    }
}

header {
    display: flex;
    flex-direction: column;
}

.bloc_title {
    @extend %flex_center;
    flex-direction: column;
    border: 0px solid black;
    background-color: $colour-light-grey;
    padding-bottom: 50px;
    .title_adress {
        font-size: 16px;
        width: 100%;
        @extend %flex_center;
        background-color: $colour-grey;
        align-items: baseline;
        height: 50px;
        h2 {
            font-size: 16px;
            padding-left: 15px;
            padding-right: 20px;
        }
        .log_localisation {
            padding-right: 0;
            text-align: end;
            font-size: 105%;
        }
    }
}


.title_secondary {
    @extend %center;
    width: 70%;
    margin-bottom: 25px;
    h2 {
        font-weight: 900 !important;
    }
}

.subtitle {
    width: 90%;
    font-size: 16px;
    @extend %center;
    margin-top: -45px;
    margin-bottom: 15px;
    p {
        color: darken(#7e7e7e, 10);
    }
}


