.button {
    @include btn_bloc_shadow;
    width: 220px;
    @extend %flex_center;
    &--link {
        @include btn-bloc-size;
        @extend %center;
    }
    &:hover {
        @include btn-bloc-hover;
    }
}

.button_menu {
    @include btn_bloc_shadow;
    width: 185px;
    margin: 50px auto 30px;
    @extend %flex_center;
    &--link {
        @include btn-bloc-size;
    }
    &:hover {
        @include btn-bloc-hover;
    }
}