
.heart_icons {
    position: relative;
    cursor: pointer;
    &:hover {
        .heart-empty {
            opacity: 0;
            z-index: -1;
        }
        .heart-full {
                transform: scale(1);
        }
    }

    .heart-icon {
        color: transparent;
        position: absolute;
    }
    .heart-empty {
        transition: all 400ms linear;
        z-index: 10;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $colour-black;
        color: transparent;
    }
    .heart-full {
        transition: 400ms ease-in-out;
        background: linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform-origin: bottom;
        transform: scale(0);
        z-index: 1;
    }
}

.menu-anim {
    animation: progress-menu 300ms;
    &__2 {
        animation: progress-menu;
        animation-duration: 900ms;
    }
    &__3 {
        animation: progress-menu;
        animation-duration: 1500ms;
    }
    &__4 {
        animation: progress-menu;
        animation-duration: 2100ms;
    }
}


@keyframes progress-menu{
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.menu_check {
    visibility: hidden;
    i {
    color: $colour-white;
    font-size: larger;
    }
}

.order_menu:hover i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.order_menu:hover p:nth-child(2) {
    min-width: 60px;
    margin-right: -10px;
    animation: menu_check 500ms;
    padding-left: 10px;
    @include tablet {
        min-width: 0;
        padding-left: 0;
        &:hover {
            max-width: 60px;
        }
    } 
}

.order_menu:hover .menu_check {
    visibility: visible;
    position: absolute;
    background:$colour-tertiary;
    right:0px;
    top: 0px;
    width: 60px;
    height:72px;
    @extend %flex_center;
    overflow:hidden;
    animation: menu_check 500ms;
}

@keyframes menu_check {
    0% {
        transform: translate(50px, 0);
    }
    20% {
        transform: translate(30px, 0);
    }
    40% {
        transform: translate(20px, 0);
    }
    60% {
        transform: translate(15px, 0);
    }
    80% {
        transform: translate(7px, 0); 
    }
    100% {
        transform: translate(1px, 0);
    }
}