@mixin box-shadow {
    box-shadow: 0px 0px 8px $colour-border-shadow;
    background-color: $colour-white;
    cursor: pointer;
}

@mixin box-shadow-light {
    box-shadow: 0px 3px 6px $colour-border-shadow;
    background-color: $colour-light-grey;
    border-radius: 20px 20px 20px 20px;
}