@mixin box-shadow {
    box-shadow: 0px 0px 8px $colour-border-shadow;
    background-color: $colour-white;
    cursor: pointer;
}

@mixin box-shadow-light {
    box-shadow: 0px 3px 6px $colour-border-shadow;
    background-color: $colour-light-grey;
    border-radius: 20px 20px 20px 20px;
}

@mixin btn_bloc_shadow {
    box-shadow: 0px 0px 3px $colour-border-shadow;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 35px;
    height: 50px;
}

@mixin btn-bloc-size {
    color:$colour-white;
    font-weight: 400;
    font-size: 16px;
}

@mixin btn-bloc-hover {
    background: linear-gradient($colour-primary-lighten, $colour-secondary-lighten);
    box-shadow: 0px 0px 8px $colour-border-shadow;
}

@mixin hidden_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin center_check {
    margin: auto;
    overflow: visible;
    text-align: start;
}

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}