$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-white: #fff;
$colour-grey: #eaeaea;
$colour-light-grey: #f6f6f6;
$colour-dark-grey: #353535;
$colour-black: #000;

$colour-border-shadow: #d2d2d2;
$colour-icons: #7e7e7e;

$breakpoints: (
  mobile: 768px,
  tablet: 992px,
  laptop: 993px,     
  desktop: 1200px,  
);

